.utakmice {
    justify-content: center;
    display: flex;
    margin-top: 25px;
}

.utakmica-container {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
