.utakmica-details {
    width: 800px;
    border-radius: 25px;
    background: linear-gradient(135deg, rgba(86, 4, 44, 1), rgba(255, 201, 71, 0.5));
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 50px;
    transition: transform 0.2s ease-in-out;
}

.utakmica-details:hover {
    transform: scale(1.1);
}

.utakmica-details h2 {
    color: #FFFFFF;
}

.utakmica-details p {
    font-size: 25px;
    font-weight: bold;
    color: #FFFFFF;
}

.utakmica-details .team-info,
.utakmica-details .stadion-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.utakmica-details .stadion-info img {
    width: 360px;
    height: 203px;
    border-radius: 25px;
}

.utakmica-details .stadion-info p {
    font-size: 20px;
}

.utakmica-details .team-info p {
    margin-right: 10px;
}

.timovi {
    display: flex;
}

.team-info {
    margin-left: 25px;
    margin-right: 25px;
}
