.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form-group {
    margin-bottom: 1.5rem;
    width: 300px;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn-login {
    background-color: rgba(86, 4, 44, 0.75);
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.btn-login:hover {
    background-color: rgba(255, 201, 71);
}

@media (max-width: 600px) {
    .form-group {
        width: 90%;
    }
}

.error-container {
    width: 500px;
    align-items: center;
    justify-content: center;
    background-color: rgba(86, 4, 44, 0.75);
    color: white;
}