.app-container {
    background-image: url("https://cdn.wallpapersafari.com/98/87/3ILi9E.jpg");
    background-size: cover; /* Scale the image to cover the entire container */
    background-position: center; /* Center the image within the container */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-attachment: fixed;
}

